<!DOCTYPE html>
<html>
<body>
<p>Enter rule</p>
<form action="/add/" method="get">
    fk: <input type="text" id="a" value="1"> <br>
    rule: <input type="text" id="b" value='[{"variable": "13", "operator": "e", "value": 0}]' size=100> <br>
    weight: <input type="text" id="c" > <br>
    score: <input type="text" id="d"> <br>
    <p>result: <span id='result'></span></p>
    <button type="button" id='send'>提交</button>
    <p>Library</p>
    <p><span id='lib' style="white-space: pre-line;"></span></p>
    <lr>
    <p>Pool</p>
    <p><span id='pool'style="white-space: pre-line;"></span></p>
</form>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#send").click(function(){
        var a = $("#a").val();
        var b = $("#b").val();
        var c = $("#c").val();
        var d = $("#d").val();

        <!--method to save scoreboard rule to database-->
        $.post("{% url 'DBAccess' %}",{'category':"SCB", 'fkey':a, 'rule': b, 'weight':c, 'score':d}, function(ret, status){
            $('#result').html(ret);
            getPool()
        })
      });
      
      function getLib(theObject) {
        $.get("{% url 'DBAccess' %}",{'category':"SCBLB"}, function(ret, status){
             $('#lib').empty()
            $('#lib').html(ret);
        })
      }
      function getPool() {
        $.get("{% url 'DBAccess' %}",{'category':"SCBPL"}, function(ret, status){
            $('#pool').empty()
            $('#pool').html(ret);
        })
      }
      getLib();
      getPool();
    });
</script>
</body>
</html>