<!DOCTYPE html>
<html>

<body>
  <h2>Variable Library</h2>
  <div style="white-space: pre-line;" id='varlb'>
    <table border="1" style="border-collapse:collapse; width: 500px;" id="varlbtable">
      <tr>
        <th>index</th>
        <th>name</th>
        <th>id</th>
      </tr>
    </table>
    add new lib with name: <input type="text" id="varlbaddtext">
    <button type="button" id='varlbadd'>提交</button>
    delete lib with id: <input type="text" id="varlbdeltext">
    <button type="button" id='varlbdel'>提交</button>
    update lib with id and name: 
    <input type="text" id="varlbupdtext"><input type="text" id="varlbupdnametext">
    <button type="button" id='varlbupd'>提交</button>
    <span>result: <span id="varlbresult"></span></span>
  </div>
  <br>

  <hr>
  <h2>Variable Pool</h2>
  select library with id:
  <input type="text" id="varplselecttext" value="1">
  <button type="button" id='varplselect'>提交</button>
  <div>
    <table border="1" style="border-collapse:collapse; width: 500px;" id="varpltable">
      <tr>
        <th>index</th>
        <th>name</th>
        <th>datatype</th>
        <th>id</th>
      </tr>
    </table>
    <br>
    add new variable with name and type:
    <input type="text" id="varpladdtext">
    <select id="datatypeselect">
    </select>
    <button type="button" id='varpladd'>提交</button>
    <br>
    delete variable with id: <input type="text" id="varpldeltext">
    <button type="button" id='varpldel'>提交</button>
    <br>
    update variable with id, name, type: <input type="text" id="varplupdtext">
    <input type="text" id="varplupdnametext">
    <select id="datatypeselectupd">
    </select>
    <button type="button" id='varplupd'>提交</button>
    <br>
    <span>result: <span id="varplresult"></span></span>
  </div>
  <br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(function () {
      $("#varlbadd").click(function () {
        var a = $("#varlbaddtext").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARLB", 'action': "ADD", 'name': a }, function (ret, status) {
          $("#varlbresult").text(ret);
          if (ret == 0) {
            getVarLib();
          }
        })
      });

      $("#varlbdel").click(function () {
        var a = $("#varlbdeltext").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARLB", 'action': "DEL", 'id': a }, function (ret, status) {
          $("#varlbresult").text(ret);
          if (ret == 0) {
            getVarLib();
          }
        })
      });

      $("#varlbupd").click(function () {
        var a = $("#varlbupdtext").val();
        var b = $("#varlbupdnametext").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARLB", 'action': "UPD", 'id': a, 'name':b }, function (ret, status) {
          $("#varlbresult").text(ret);
          if (ret == 0) {
            getVarLib();
          }
        })
      });

      $("#varplselect").click(function () {
        var a = $("#varplselecttext").val();
        getVarPool(a);
      });

      $("#varpladd").click(function () {
        var a = $("#varplselecttext").val();
        var b = $("#varpladdtext").val();
        var c = $("#datatypeselect").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARPL", 'action': "ADD", 'fk': a, 'name': b, 'datatype': c }, function (ret, status) {
          getVarPool(a);
          $("#varplresult").text(ret);
        })
      });

      $("#varpldel").click(function () {
        var a = $("#varplselecttext").val();
        var b = $("#varpldeltext").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARPL", 'action': "DEL", 'fk': a, 'id': b }, function (ret, status) {
          $("#varplresult").text(ret);
          if (ret == 0) {
            getVarPool(a);
          }
        })
      });

      $("#varplupd").click(function () {
        var a = $("#varplselecttext").val();
        var b = $("#varplupdtext").val();
        var c = $("#varplupdnametext").val();
        var d = $("#datatypeselectupd").val();
        $.post("{% url 'DBAccess' %}", { 'category': "VARPL", 'action': "UPD", 'fk': a, 'id': b, 'name':c, 'datatype':d }, function (ret, status) {
          $("#varplresult").text(ret);
          if (ret == 0) {
            getVarPool(a);
          }
        })
      });

      function getVarLib() {
        if (typeof getVarLib.listOfObjects == 'undefined') {
          getVarLib.listOfObjects = []
        }
        else {
          getVarLib.listOfObjects.forEach(function (x) {
            $(x).remove();
          });
        }
        $.get("{% url 'DBAccess' %}", { 'category': "VARLB" }, function (ret, status) {
          ret.forEach(function (value, index) {
            var txt1 = $("<td></td>").text(index);
            var txt2 = $("<td></td>").text(value[1]);
            var txt3 = $("<td></td>").text(value[0]);
            var td = $("<tr></tr>")
            td.append(txt1, txt2, txt3);
            $("#varlbtable").append(td);
            getVarLib.listOfObjects.push(td);
          });
        })
      }
      getVarLib();

      function getVarPool(id) {
        if (typeof getVarPool.listOfObjects == 'undefined') {
          getVarPool.listOfObjects = []
        }
        else {
          getVarPool.listOfObjects.forEach(function (x) {
            $(x).remove();
          });
        }
        $.get("{% url 'DBAccess' %}", { 'category': "VARPL", 'id': id }, function (ret, status) {
          ret.forEach(function (value, index) {
            var txt1 = $("<td></td>").text(index);
            var txt2 = $("<td></td>").text(value[1]);
            var txt3 = $("<td></td>").text(value[2]);
            var txt4 = $("<td></td>").text(value[0]);
            var td = $("<tr></tr>")
            td.append(txt1, txt2, txt3, txt4);
            $("#varpltable").append(td);
            getVarPool.listOfObjects.push(td);
          });
        })
      }
      getVarPool(1);

      function getDatatypeList() {
        $.get("{% url 'DBAccess' %}", { 'category': "DATATYPE" }, function (ret, status) {
          ret.forEach(function (value, index) {
            var txt1 = $("<option></option>").attr("value", value[0]).text(value[1]);
            $('#datatypeselect').append(txt1);
            $('#datatypeselectupd').append(txt1.clone());
          });
        });
      }
      getDatatypeList();
    });
  </script>
</body>

</html>